<div class="container-fluid">
    <h1 class="text-info text-center display-1">Tabla Hospitales</h1>
    <table *ngIf="hospitales" class="table table-bordered table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Nº camas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hosp of hospitales">
                <td>{{hosp.idhospital}}</td>
                <td>{{hosp.nombre}}</td>
                <td>{{hosp.direccion}}</td>
                <td>{{hosp.telefono}}</td>
                <td>{{hosp.camas}}</td>
                <td>
                    <a class="btn btn-warning me-2" [routerLink]="['/editarhospital/', hosp.idhospital]">
                        Editar
                    </a>
                    <button class="btn btn-danger me-2" (click)="borrarHospital(hosp.idhospital)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!hospitales" class="container-fluid d-flex justify-content-center">
        <img src="https://i.pinimg.com/originals/07/24/88/0724884440e8ddd0896ff557b75a222a.gif"/>
    </div>
</div>
