<div class="container-fluid">
    <h1 class="text-warning text-center text-capitalize">Modificar personaje</h1>
    <form #formPersonajes="ngForm" (ngSubmit)="modificarPersonaje()">
        <select *ngIf="personajes" class="form-select" #selectpersonajes name="selectpersonajes">
            <option *ngFor="let pj of personajes" value="{{pj.idPersonaje}}">
                {{pj.nombre}}
            </option>
        </select><br/>
        <select *ngIf="series" class="form-select" #selectseries name="selectseries">
            <option *ngFor="let serie of series" value="{{serie.idSerie}}">
                {{serie.nombre}}
            </option>
        </select><br/>
        <button class="btn btn-warning mt-2">Modificar</button>
    </form>
    <hr/>
    <div class="container text-center" *ngIf="estado">
        <div *ngIf="serieSelected">
            <h1 class="text-danger">{{serieSelected.nombre}}</h1>
            <img src="{{serieSelected.imagen}}" class="img" width="500"/>
        </div>
        <div *ngIf="personajeSelected">
            <h1 class="text-primary">{{personajeSelected.nombre}}</h1>
            <img src="{{personajeSelected.imagen}}" class="img" width="250"/>
        </div>
    </div>
</div>



