<div class="container-fluid">
    <h1 class="text-primary text-center text-capitalize">Nuevo hospital</h1>
    <form #formHospital="ngForm" (ngSubmit)="crearHospital()">
        <label>Id:</label>
        <input type="text" 
        #cajaid name="cajaid" 
        class="form-control"/>
        <label>Nombre:</label>
        <input type="text" 
        #cajanombre name="cajanombre" 
        class="form-control"/>
        <label>Direccion:</label>
        <input type="text" 
        #cajadireccion name="cajadireccion"
        class="form-control" 
        />
        <label>Teléfono:</label>
        <input type="text" 
        #cajatelefono name="cajatelefono"
        class="form-control"/>
        <label>Camas:</label>
        <input type="text" #cajacamas name="cajacamas" 
        class="form-control"/>
        <button class="btn btn-primary mt-3">Create</button>
    </form>
</div>

